a:link {
  text-decoration:  none;
}

a:visited {
  text-decoration:  none;
}

#hero-img {
  width: 100%;
  height: 50vh;
    overflow: hidden;
  z-index: -1;
}
#game-image {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}
#det{
  font-weight: bold;
  font-size: 20px;
}
#display-all{
  margin: 1%;
}
.main-body{
  width: 100%;
}
.image-container {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20%;
    text-align: center;
    background-image: url("http://i.imgur.com/ky8LT0D.png");
    overflow:scroll;
}
.image-container img{
  margin-top: 20%;
  max-height: 60vh;
}

.game-info {
line-height: 25px;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
  background-image: url("https://i.ytimg.com/vi/aBBwqpBGeq0/maxresdefault.jpg");

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.game-info p{
  color: white;
}
.game-info h3 {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
}

.page-lower {
  height: auto;
  text-align: center;
  margin-bottom: 35px;

}
.top-games-li {
  display: list-item;
  list-style-position: inside;
}
.heading-group-h1 {
  text-align: center;
  margin-top: 1em;
}
.heading-group-h1 > h1 {
  font-size: 30pt;
  font-family: 'Bowlby One SC', cursive;
}
.icon-menu {
  font-size: 2em;
  width: 20px;
}
.page-lower h2 {
  font-size: 24pt;
  margin: .5em 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: .5em;
  padding-top: .5em;
  font-family: 'Ubuntu', sans-serif;
}
.top-games {
  margin: 0 auto;
}
.game-thumb {
  width: 100%;
}
.caption {
  font-family: 'Bowlby One SC', cursive;
  font-size: 16pt;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  line-height: 1.1em;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -moz-transition: all 1s linear;
  transition: all 1s linear;
}

a:hover .caption {
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.top-games-li h3 {
  position: relative;
  bottom: 2em;
  font-size: 14pt;
  height: 0;
}

.tab{
  margin: 5px 0 0 0;
}
.tab a{
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.icon-menu ul{
  display: none;
}
.icon-menu:hover ul{
  display: inline;
}
.browser-nav{
  display: none;
}
.search {
  padding: 0;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
  .browser-nav{
    display: block;
    margin: 10px 0 0 0;
    padding-bottom: 1em;
    max-height: 40px;
  }
  .browser-nav > ul {
    text-align: center;
  }
  .browser-tab{
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
  }
  .browser-tab a{
    text-decoration: none;
    color: white;
    font-size: 2em;
  }

  .game-info {
      float:left;
      margin-bottom: 25px;
  }
  .game-info p{
      margin-bottom: 2px;
      color: white;
  }
  .game-info div{
      margin:0;
  }
.image-container{
  margin-top: 50px;
  margin-bottom: 50px;
}
  .image-container div img{
      margin: 5%;
      max-height: 100%;
      text-align: center;
      overflow: none;
  }
  .image-container img{
    margin-top: 0;
    max-height: 60vh;
  }

  #game-image {
    float: left;
    height: 60vh;
  }

  .page-lower {
    margin-bottom: 30px;
  }
  .top-games-li {
    width: 14em;
    display: inline-block;
    margin: 10px 26px;
  }
  .top-games-li h3 {
    position: inherit;
    height: auto;
    width: 100%;
  }
  .top-games-li:first-child {
    margin-left: 0;
  }
  .top-games-li:last-child {
    margin-right: 0;
  }
}



.footer {
  background: black;
  height: 20px;
  margin: auto;
  width: 100%;
  text-align:center;
  padding:10px;
  color:#ffffff;
}
