header {
  border: 1px solid black;
}
#hero-img {
  border: 1px solid green;
  width: 100%;
  height: 20em;
}
ol#top-games {
  height: auto;
  border: 1px solid red;
  text-align: center;
}
li {
  display: list-item;
  list-style-position: inside;
}
h2 {
  display: inline;
}
