header {
  padding-top: 1em;
}
#hero-img {
  width: 100%;
  height: 50vh;
    overflow: hidden;
  z-index: -1;
}

.main-body{
  width: 100%;
}
.image-container {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20%;
    /*height: 100%;*/
    text-align: center;
    background-image: url("http://i.imgur.com/ky8LT0D.png");
    overflow:scroll;
}
.image-container img{
  margin-top: 20%;
  max-height: 60vh;
}

#game-image {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
.game-info {
line-height: 25px;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
  background-image: url("https://i.ytimg.com/vi/aBBwqpBGeq0/maxresdefault.jpg");

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*overflow: scroll;*/

}
.game-info p{
  color: white;
}
.game-info h3 {
  text-align: justify;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
}

.page-lower {
  height: auto;
  text-align: center;
}
.top-games-li {
  display: list-item;
  list-style-position: inside;
}
.heading-group-h1 {
  text-align: center;
  margin-top: 1em;
}
.heading-group-h1 > h1 {
  font-family: fantasy;
  font-size: 30pt;
}
.icon-menu {
  font-size: 2em;
  width: 20px;
}
.page-lower h2 {
  font-size: 24pt;
  margin: .5em 0;
}
.top-games {
  margin: 0 auto;
}
.game-thumb {
  width: 100%;
}
.top-games-li h3 {
  position: relative;
  bottom: 2em;
  font-size: 14pt;
  height: 0;
}
footer {
  margin-top: 2em;
  margin-bottom: 1em;
  position: relative;;
  bottom: 0;
}
.tab{
  margin: 5px 0 0 0;
}
.tab a{
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.icon-menu ul{
  display: none;
}
.icon-menu:hover ul{
  display: inline;
}
.browser-nav{
  display: none;
}
.search {
  padding: 0;
}
@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
  .browser-nav{
    display: block;
    margin: 10px 0 0 0;
    padding-bottom: 1em;
  }
  .browser-nav > ul {
    text-align: center;
  }
  .browser-tab{
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
  }
  .browser-tab a{
    text-decoration: none;
    color: white;
    font-size: 2em;
  }

  .game-info {
      /*margin: 10px;
      max-height: 100%;*/
      float:left;
      margin-bottom: 25px;
      /*overflow: none;*/

  }
  .game-info p{
      margin-bottom: 25px;
      color: white;
  }
  .game-info div{
      margin:0;
  }
.image-container{
  margin-top: 500px;
}
  .image-container div img{
      margin: 5%;
      max-height: 100%;
      text-align: center;
      overflow: none;
  }
  .image-container img{
    margin-top: 0;
    max-height: 60vh;
  }

  #game-image {
    float: left;
    height: 60vh;
  }

  .page-lower {
    margin-top: 2em;
  }
  .top-games-li {
    width: 14em;
    display: inline-block;
    margin: 10px 26px;
  }
  .top-games-li h3 {
    position: inherit;
    height: auto;
    width: 100%;
  }
  .top-games-li:first-child {
    margin-left: 0;
  }
  .top-games-li:last-child {
    margin-right: 0;
  }
}

header {
  padding-top: 1em;
}

footer{
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer {
  background: black;
  height: 20px;
  margin: auto;
  width: 100%;
  text-align:center;
  padding:10px;
  color:#ffffff;
}
