.bio-image{
  float: left;
  max-height: 150px;
  max-width: 150px;
}

.bio {
  clear: both;
  padding: 10%;
  margin: 5%;
  margin-top: 0;
  background-image: url("http://www.hixie.ch/tests/adhoc/css/mozilla/opacity/black-0.5-0.0-h.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
  overflow:none;
}
#about {
  background-image: url("http://www.steve-j.co.uk/pamhawkes.co.uk/images/BiographyBG.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;

}

.tswift{
  height:20px;
}
